{% extends "base.html" %}


{% block content %}
<h2>SVAROG Project</h2>
  <p>This is a small network of satellite ground stations, which aims to receive signals from
  satellites. It's a project created in 2020 by Sławek Figiel, Tomek Mrugalski and Ewelina Omernik, three
  students of Space and Satellite Technologies studies of Gdańsk University of Technology.</p>

  <p>This project is available on github: <a href="https://github.com/gut-space/svarog-server">server</a>
    and <a href="https://github.com/gut-space/svarog-station">station</a>.</p>


{% endblock %}